[global]
repo1-type=s3
repo1-s3-endpoint=${PGBACKREST_S3_ENDPOINT}
repo1-s3-region=${PGBACKREST_S3_REGION}
repo1-s3-bucket=${PGBACKREST_S3_BUCKET}
repo1-s3-key=${PGBACKREST_S3_ACCESS_KEY}
repo1-s3-key-secret=${PGBACKREST_S3_SECRET_KEY}
repo1-s3-verify-tls=y
repo1-path=/rarity/postgres
repo1-cipher-type=aes-256-cbc
repo1-cipher-pass=${PGBACKREST_REPO_CIPHER_PASS}
repo1-retention-full=13
repo1-retention-diff=14
repo1-retention-archive-type=full
archive-async=y
spool-path=/var/spool/pgbackrest
process-max=4
start-fast=y
log-level-console=info
log-level-file=detail
log-path=/var/log/pgbackrest

[${PGBACKREST_STANZA}]
pg1-path=/var/lib/postgresql/data
pg1-port=5433
pg1-socket-path=/var/run/postgresql
