ETCD_NAME=${RARITY_NODE_NAME}
ETCD_DATA_DIR=/var/lib/etcd
ETCD_LISTEN_CLIENT_URLS=https://${RARITY_NODE_IP}:2379
ETCD_ADVERTISE_CLIENT_URLS=https://${RARITY_NODE_IP}:2379
ETCD_LISTEN_PEER_URLS=https://${RARITY_NODE_IP}:2380
ETCD_INITIAL_ADVERTISE_PEER_URLS=https://${RARITY_NODE_IP}:2380
ETCD_INITIAL_CLUSTER=rti-db-1=https://${RARITY_NODE_1_IP}:2380,rti-db-2=https://${RARITY_NODE_2_IP}:2380,rti-db-3=https://${RARITY_NODE_3_IP}:2380
ETCD_INITIAL_CLUSTER_STATE=${ETCD_INITIAL_CLUSTER_STATE}
ETCD_INITIAL_CLUSTER_TOKEN=${ETCD_INITIAL_CLUSTER_TOKEN}
ETCD_CLIENT_CERT_AUTH=true
ETCD_TRUSTED_CA_FILE=/run/rarity-tls/ca/ca.crt
ETCD_CERT_FILE=/run/rarity-tls/etcd/server.crt
ETCD_KEY_FILE=/run/rarity-tls/etcd/server.key
ETCD_PEER_CLIENT_CERT_AUTH=true
ETCD_PEER_TRUSTED_CA_FILE=/run/rarity-tls/ca/ca.crt
ETCD_PEER_CERT_FILE=/run/rarity-tls/etcd/peer.crt
ETCD_PEER_KEY_FILE=/run/rarity-tls/etcd/peer.key
ETCD_TLS_MIN_VERSION=TLS1.2
ETCD_PEER_TLS_MIN_VERSION=TLS1.2
ETCD_AUTO_COMPACTION_MODE=periodic
ETCD_AUTO_COMPACTION_RETENTION=1h
